@import "tailwindcss";

@theme {
  --color-sky-light: #C7EAFB;
  --color-custom-pink: #C657A0;
  --color-custom-blue: #C7EAFB;
  --color-custom-sky: #0095DA;
  --color-custom-green: #28A745;
  --color-custom-yellow: #FFC107;
  --color-custom-purple: #6F42C1;
  --color-custom-orange: #FD7E14;
  --color-custom-red: #DC3545;
  --color-custom-gray: #6C757D;
}