@import "tailwindcss";

@theme {
  --animate-shake: shake 0.5s ease-in-out;
  --color-sky-light: #C7EAFB;
  --color-custom-pink: #C657A0;
  --color-custom-blue: #C7EAFB;
  --color-custom-sky: #0095DA;
  --color-custom-green: #28A745;
  --color-custom-yellow: #FFC107;
  --color-custom-purple: #6F42C1;
  --color-custom-orange: #FD7E14;
  --color-custom-red: #DC3545;
  --color-custom-gray: #6C757D;
  --color-pink-light: #EFD9E9;
  --color-yellow-light: #FFEECF;
  --color-custom-blue-light: #E0F2FE;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}