<%= collapsible_nav_section "People" do %>
  <li class="popup__item flex items-center bg-transparent rounded w-full hover:bg-gray-100 dark:hover:bg-gray-700" data-filter-target="item" data-navigable-list-target="item">
    <%= icon_tag "add", class: "popup__icon w-6 flex items-center justify-center shrink-0 ml-1" %>
    <%= link_to account_join_code_path, class: "popup__btn btn rounded border-none bg-transparent flex-1 font-medium justify-start w-full min-w-0 py-2 px-1 text-left no-underline flex items-center gap-2 cursor-pointer" do %>
      <span class="overflow-ellipsis">Invite people</span>
    <% end %>
  </li>

  <% users.each do |user| %>
    <% if user != Current.user %>
      <%= my_menu_user_item(user) %>
    <% end %>
  <% end %>
<% end %>