<% content_for :titolo, "#{@pagina.titolo} - #{@pagina.numero}" %>

<div class="max-w-7xl mx-auto p-6 bg-gradient-to-b from-blue-50 to-white" data-controller="exercise-checker">
  <!-- Header -->
  <%= render 'shared/page_header', pagina: @pagina %>

  <!-- Immagine della pagina -->
  <%= render 'shared/page_image', pagina: @pagina %>

  <!-- Footer con controlli -->
  <%= render 'shared/exercise_controls', color: 'blue' %>
</div>
